<%-include('../header')%>
<div class="container">
    <h1 class="text-center display-4">Brand Form</h1>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Brand Name</label>
          <input type="text" class="form-control" aria-describedby="emailHelp" id="brContent">
          
        </div>
       
        
        <button type="button" class="btn btn-primary btn-brand">Submit</button>
      </form>
      <p class="err_brand"></p>
</div>
<%-include('../footer')%>