<%-include('../header')%>

<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Category Form</h2>
                    <form action="#" id="category_form">
                        <input name="catName" type="text" placeholder="Category Name">
                        
                        
                        <button type="button" class="btn btn-default btn-category">Add</button>
                    </form>
                    <p class="category_err_msg"></p>
                </div><!--/login form-->
            </div>
            
        </div>
    </div>
</section>

<%-include('../footer')%>